<div class="app-container">
  <!-- Header -->
  <header class="header">
    <!-- Icono del menú -->
    <div class="menu-toggle" (click)="toggleSidebar()">
      <i class="bi bi-list icon-menu"></i>
    </div>

    <!-- Logo -->
    <div class="logo">BGREEN</div>

    <!-- Sección usuario -->
    <div class="user-info">
      <span>{{ user }}</span>

      <div class="user-dropdown" (click)="toggleUserMenu()" #userDropdown>
        <i class="bi bi-person-circle icon-user"></i>
        <div class="dropdown-menu" *ngIf="isUserMenuOpen">
          <button (click)="logout()" class="dropdown-item">Cerrar Sesión</button>
   <!--  <button (click)="changePassword()" class="dropdown-item">Cambio de Clave</button> -->      
          <button (click)="home()" class="dropdown-item">Home</button>
        </div>
      </div>
    </div>
  </header>

  <div class="main-layout">
    <aside class="sidebar" [class.collapsed]="isSidebarCollapsed">
      <ul class="menu-list">
        <li *ngFor="let modulo of modulos" class="menu-item" [class.expanded]="modulo.expandido">
          <div class="menu-header" (click)="toggleSubmodulos(modulo)">
            <i class="icon">{{ modulo.icono }}</i>
            <span class="module-name" *ngIf="!isSidebarCollapsed">{{ modulo.nombre }}</span>
            <i class="arrow" [class.down]="modulo.expandido">▼</i>
          </div>
          <ul *ngIf="modulo.expandido" class="submenu">
            <li *ngFor="let sub of modulo.submodulos">
              <!--  SOLUCIÓN: Pasar la ruta completa como un solo string -->
              <a routerLink="/{{modulo.rutaBase}}/{{sub.ruta}}" routerLinkActive="active" class="submenu-item">
                {{ sub.nombre }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </aside>

    <main class="content-wrapper">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>