ALTER PROCEDURE [dbo].[sp_Pulsos_ActualizarEstado]
    @id_pulso INT,
    @activo BIT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        UPDATE [dbo].[Pulsos]
        SET 
            activo = @activo,
            date_Modify = GETDATE()
        WHERE id_pulso = @id_pulso;

        IF @@ROWCOUNT = 0
        BEGIN
            RAISERROR('No se encontró ningún pulso con el ID especificado', 16, 1);
        END

        COMMIT TRANSACTION;
        -- ❌ NO SELECT
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
