USE [BgreenNet_Dev]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP para INSERTAR un nuevo pulso
-- =============================================
ALTER PROCEDURE [dbo].[sp_Pulsos_Insertar]
    @titulo NVARCHAR(255),
    @descripcion NVARCHAR(MAX) = NULL,
    @imagen_url NVARCHAR(500) = NULL,
    @imagen_nombre_original NVARCHAR(255) = NULL,
    @imagen_tipo_mime NVARCHAR(100) = NULL,
    @imagen_tamano_bytes INT = NULL,
    @Fecha_Final DATETIME,
    @creado_por NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @NewId BIGINT;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        INSERT INTO [dbo].[Pulsos] (
            [titulo],
            [descripcion],
            [imagen_url],
            [imagen_nombre_original],
            [imagen_tipo_mime],
            [imagen_tamano_bytes],
            [Fecha_Final],
            [date_create],     -- ✅ Corregido
            [activo],
            [creado_por]
        )
        VALUES (
            @titulo,
            @descripcion,
            @imagen_url,
            @imagen_nombre_original,
            @imagen_tipo_mime,
            @imagen_tamano_bytes,
            @Fecha_Final,
            GETDATE(),         -- ✅ date_create
            1,                 -- ✅ activo por defecto
            @creado_por
        );
        
        -- Capturar el ID generado
        SET @NewId = SCOPE_IDENTITY();
        
        -- ✅ Devolver solo el ID
        SELECT @NewId AS id;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO