ALTER PROCEDURE [dbo].[sp_Pulsos_EliminarFisico]
    @id_pulso INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DELETE FROM dbo.Pulsos
        WHERE id_pulso = @id_pulso;

        IF @@ROWCOUNT = 0
        BEGIN
            RAISERROR('No se encontró ningún pulso con el ID especificado', 16, 1);
        END

        COMMIT TRANSACTION;
        RETURN; -- 🔑 CLAVE: NO SELECT

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
