USE [BgreenNet_Dev]
GO
/****** Object:  StoredProcedure [dbo].[sp_Pulsos_Insertar]    Script Date: 15/02/2026 10:19:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP para INSERTAR un nuevo pulso
-- =============================================
ALTER PROCEDURE [dbo].[sp_Pulsos_Insertar]
    @titulo NVARCHAR(255),
    @descripcion NVARCHAR(MAX) = NULL,
    @imagen_url NVARCHAR(500) = NULL,
    @imagen_nombre_original NVARCHAR(255) = NULL,
    @imagen_tipo_mime NVARCHAR(100) = NULL,
    @imagen_tamano_bytes INT = NULL,
    @Fecha_Final DATETIME,
    @creado_por NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        INSERT INTO [dbo].[Pulsos] (
            [titulo],
            [descripcion],
            [imagen_url],
            [imagen_nombre_original],
            [imagen_tipo_mime],
            [imagen_tamano_bytes],
            [Fecha_Final],
            [date_create],
            [activo],
            [creado_por]
        )
        VALUES (
            @titulo,
            @descripcion,
            @imagen_url,
            @imagen_nombre_original,
            @imagen_tipo_mime,
            @imagen_tamano_bytes,
            @Fecha_Final,
            GETDATE(),
            1,
            @creado_por
        );

        SELECT SCOPE_IDENTITY() AS id;

    END TRY
    BEGIN CATCH
        THROW; 
    END CATCH
END

